body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: #709fb0;
    color: white;
    
   
}

h1{
  text-align:center;
  
}

.container{
    padding:10%;
}

.cursor{
    color: #ffffff;
}



.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



/*Navbar Style*/

.navbar {
    background-color: #413c69;
    overflow: hidden;
}

.navbar a{
    float:left;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}




.navbar a:hover {
    background-color: #4a47a3;
}

.navbar a.active {
    background-color: #4a47a3;
}

.navbar .icon{
    display: none;
}

@media screen and (max-width: 900px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 900px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.footer {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #413c69;
  color: white;
  text-align: center;
}


/*Portfolio Card*/

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px 8px 8px;
}

@media screen and (max-width: 900px) {
  .column {
    width: 100%;
    display: block;
  }
  
  h2, p{
    text-align: center;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
border-radius: 10px;
background-color: white;
color: black;
}

.card:hover{
box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
}
.cardContainer {
  padding: 0 16px;
}

.cardContainer::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #4a47a3;
  text-align: center;
  cursor: pointer;
  width: 100%;
border-radius: 10px;
}

.cardImg{
    border-radius: 10px;
    border-color: white;
    border-style: solid;
    border-width:5px;
    width: 100%;
}

.button:hover {
  background-color: #413c69;
}





/*Resume Cards*/


.resContainer {
  padding: 16px 16px;
}



.resContainer::after, .row::after {
  content: "";
  clear: both;
  display: table;
}






/*Resume Skills Card*/

*, *:before, *:after {
  box-sizing: inherit;
}

.resSkillColumn {
  float: left;
  width: 20%;
  /*margin-bottom: 16px;*/
  padding: 0 8px 8px 8px;
}

@media screen and (max-width: 900px) {
  .resSkillColumn {
    width: 100%;
    display: block;
  }
  
  h3, p{
    text-align: center;
  }
}

.resSkillCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
border-radius: 10px;
background-color: #4a47a3;
color: white;
text-align: center;

}

.resSkillCard:hover{
box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.4);
}






/*Education Card*/

*, *:before, *:after {
  box-sizing: inherit;
}

.eduColumn {
  float: left;
  width: 50%;
  /*margin-bottom: 16px;*/
  padding: 0 8px 8px 8px;
}

@media screen and (max-width: 1000px) {
  .eduColumn {
    width: 100%;
    display: block;
  }
  
  h2, p{
    text-align: center;
  }
}

.eduCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
border-radius: 10px;
background-color: #4a47a3;
color: white;


}

.eduCard:hover{
box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
}


/*Experience Card*/

*, *:before, *:after {
  box-sizing: inherit;
}

.expColumn {
  float: left;
  width: 33%;
  /*margin-bottom: 16px;*/
  padding: 0 8px 8px 8px;
}

@media screen and (max-width: 1000px) {
  .expColumn {
    width: 100%;
    display: block;
  }
  
  h2, p{
    text-align: center;
  }
}

.expCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
border-radius: 10px;
background-color: #413c69;
color: white;

}

.expCard:hover{
box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
}



/*Contact Form*/

label{
    color: black;
}

input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 5px solid #413c69;
}

input[type=phone] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 5px solid #413c69;
}

input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 5px solid #413c69;
}

input[type=name] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 5px solid #413c69;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 5px solid #413c69;
}

input[type=textArea] {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.formContainer {
 
  
  padding: 20px;
}

/*Contact entries table*/

#contactTable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#contactTable td, #contactTable th {
  border: 1px solid #ddd;
  padding: 8px;
  background-color: #4a47a3;
}

#contactTable tr:nth-child(even){background-color: #f2f2f2;}

#contactTable tr:hover {background-color: #ddd;}

#contactTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}





